* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 420px;
    background-color: #6e707a;
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
}

.header-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    padding-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.logo:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}


.title {
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ffffff;
}

.address {
    color: #ffffff;
    font-weight: 500;
}

.opening-hours {
    width: 18rem;
    background-color: #54CC0A;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
}

.hours {
    padding-left: 2.5rem;
    color: #ffffff;
    font-weight: bold;
}

/* Menu */
.menu-title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    max-width: 80rem;
    padding: 0 5rem;   
    margin-bottom: 4rem;
}

.menu-item {
    display: flex;
    gap: 1rem;
}

.menu-item-image {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
}

.menu-item-image:hover {
    transform: scale(1.1);
    transform: rotate(-2deg);
    transition-duration: 0.3s;
}

.menu-item-details {
    flex: auto;
}

.menu-item-name {
    font-weight: bold;
}

.menu-item-description {
    font-size: 1rem;
}

.menu-item-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.menu-item-price {
    font-weight: bold;
    font-size: 1.125rem;
}

.add-to-cart-btn {
    width: 3rem;
    height: 2rem;
    color: #ffffff;
    background-color: #00a416;
    border-radius: 0.25rem;
    border: none;
}

.menu-section {
    margin: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.section-title {
    font-weight: bold;
    font-size: 2rem;
}



/* Cart Modal */
.cart-modal {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
}

.cart-modal-content {
    background-color: #ffffff;
    padding: 1.20rem;
    border-radius: 1rem;
    min-width: 600px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.total {
    font-weight: bold;
}

.delivery-address-title {
    font-weight: bold;
    margin-top: 1rem;
}

.delivery-address {
    width: 100%;
    border: 2px solid;
    padding: 0.30rem;
    border-radius: 0.30rem;
    margin: 0.30rem 0;
}

.address-warn-hidden {
    color: #DC2626;
    margin-top: 0.30rem;
    display: none;
}

.modal-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.close-modal-btn {
    border: none;
    background-color: #ffffff;
}

.checkout-btn {
    background-color: #34D399;
    color: #ffffff;
    padding: 0.25rem 1rem;
    border-radius: 0.30rem;
    border: none;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #ef4444;
    padding: 0.80rem 0;
    position: fixed;
    bottom: 0;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 0.5rem;
    background-color: #ef4444;
    border: none;
}
/*meutestejs*/
.itemsCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
.itemsCart h4 {
    font-size: 20px;
    font: bold;
    color: black;
}
.itemsCart p {
    font-size: 15px;
    font: 200;
}
.remove-from-cart-btn {
    border: none;
    background-color: #ef4444;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
}


@media screen and (max-width: 786px) {
    .menu-title {
        font-size: 1.5rem;
    }

    .menu-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.25rem;
        padding: 0 1.5rem;
        
    }

    .cart-modal-content {
        min-width: 90%;
    }
}